<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        简途旅行核心管理系统
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/lib/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap-datetimepicker.min.css}"/>
    <script type="text/javascript" th:src="@{/static/lib/jquery-1.11.1.min.js}"></script>
</head>
<body>
<div class="header" th:include="fragments :: iframe_header"></div>
<div class="sContainer">
    <div class='date'>
        <span class='prev'>
            <span></span><span></span>
        </span>
        <span><input class='dt' readonly="readonly" type="text"/></span>
        <span class='next'>
            <span></span><span></span>
        </span>
    </div>
</div>
<div class="route_date">
    <div class="thead">
        <span>日</span>
        <span>一</span>
        <span>二</span>
        <span>三</span>
        <span>四</span>
        <span>五</span>
        <span>六</span>
    </div>
    <div class="tbody">

    </div>
    <div class="popover bottom sales_date_add">
        <div class="arrow" style="left:30%;"></div>
        <div class="popover_title">添加产品价格</div>
        <div class="popover-content">
            <div>
                <span>成本价：</span>
                <span><input type="text"/></span>
            </div>
            <div>
                <span>结算价：</span>
                <span><input type="text"/></span>
            </div>
            <div>
                <span>建议价：</span>
                <span><input type="text"/></span>
            </div>
        </div>
        <div class="popover-footer">
            <button>确认</button>
            <button>关闭</button>
        </div>
    </div>
    <div class="popover right sales_date_edit" style="display: none;">
        <div class="arrow" style="top:7%;"></div>
        <div class="popover_title">修改产品价格</div>
        <div class="popover-content">
            <div>
                <span>成本价：</span>
                <span><input type="text"/></span>
            </div>
            <div>
                <span>结算价：</span>
                <span><input type="text"/></span>
            </div>
            <div>
                <span>建议价：</span>
                <span><input type="text"/></span>
            </div>
        </div>
        <div class="popover-footer">
            <button>确认</button>
            <button>关闭</button>
            <a href="#">删除</a>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/lib/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/st.array.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jsrender.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/iframe.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/route_bus_date.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jquery.xcolor.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/alertMsg.js}"></script>

<script type="text/x-jquery-tmpl" id='template'>
		￥{{:price}} ({{:soldQuantity}}/{{:availableQuantity}})
	</script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function() {
        //日历
        tbody_date();
        var id = [[${id}]];
        var currentdate = new Date();
        var rdate;
        currentdate.setDate(1);
        var timestart = currentdate.getFullYear()+'-'+(currentdate.getMonth()+1)+'-'+currentdate.getDate();
        currentdate.setMonth(currentdate.getMonth()+1);
        currentdate.setDate(0);
        var timeend = currentdate.getFullYear()+'-'+(currentdate.getMonth()+1)+'-'+currentdate.getDate();

        $.post('/sale/productPrice/list/', {id:id,start:timestart,end:timeend}, function(data) {
            if(data.data){
                rdate = $('.route_date').item(data.data,"#template");
            }else{
                rdate = $('.route_date').item([],"#template");
            }
        });
        $(document).on('click','.prev',function(event) {
            var d = parseInt($(this).find('span:last').html());
            $('.prev').addClass('disabled');
            $('.next').addClass('disabled');
            $('.popover').hide();
            var time = $('.date input').val().split('.');
            if(time[1] == 1){
                time[0] = (parseInt(time[0]) - 1).toString();
                time[1] = 12;
            }else{
                time[1] = (parseInt(time[1]) - 1).toString();
            }
            var ptime = new Date();
            ptime.setDate(1);
            ptime.setYear(parseInt(time[0]));
            ptime.setMonth(parseInt(time[1])-1);
            var ptimestart  = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            ptime.setMonth(ptime.getMonth()+1);
            ptime.setDate(0);
            var ptimeend = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            $.post('/sale/productPrice/list/', {id:id,start:ptimestart,end:ptimeend}, function(data) {
                if(data.data){
                    $('.date input').val(time.join('.'));
                    $('.prev').removeClass('disabled');
                    $('.next').removeClass('disabled');
                    tbody_date(time.join(','));
                    rdate.replaceall(data.data,"#template");

                }else{
                    $('.date input').val(time.join('.'));
                    $('.prev').removeClass('disabled');
                    $('.next').removeClass('disabled');
                    tbody_date(time.join(','));
                    rdate.replaceall([],'#template');
                }
            });
        });
        $(document).on('click','.next',function(event) {
            var d = parseInt($(this).find('span:last').html());
            $('.prev').addClass('disabled');
            $('.next').addClass('disabled');
            $('.popover').hide();
            var time = $('.date input').val().split('.');
            if(time[1] == 12){
                time[0] = (parseInt(time[0]) + 1).toString();
                time[1] = 1;
            }else{
                time[1] = (parseInt(time[1]) + 1).toString();
            }
            var ptime = new Date();
            ptime.setDate(1);
            ptime.setYear(parseInt(time[0]));
            ptime.setMonth(parseInt(time[1])-1);
            var ptimestart  = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            ptime.setMonth(ptime.getMonth()+1);
            ptime.setDate(0);
            var ptimeend = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            $.post('/sale/productPrice/list/', {id:id,start:ptimestart,end:ptimeend}, function(data) {
                if(data.data){
                    $('.date input').val(time.join('.'));
                    $('.prev').removeClass('disabled');
                    $('.next').removeClass('disabled');
                    tbody_date(time.join(','));
                    rdate.replaceall(data.data,"#template");
                }else{
                    $('.date input').val(time.join('.'));
                    $('.prev').removeClass('disabled');
                    $('.next').removeClass('disabled');
                    tbody_date(time.join(','));
                    rdate.replaceall([],'#template');
                }
            });
        });
        $('.dt').datetimepicker({
            format:'yyyy.mm',
            language:'zh-CN',
            maxView:4,
            minView:3,
            startView:3,
            autoclose:true
        }).on('changeMonth',function(ev){
            var ptime = new Date(ev.date);
            ptime.setDate(1);
            var ptimestart  = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            ptime.setMonth(ptime.getMonth()+1);
            ptime.setDate(0);
            var ptimeend = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
            $.post('/sale/productPrice/list/', {id:id,start:ptimestart,end:ptimeend}, function(data) {
                if(data.data){
                    tbody_date(ptimestart);
                    rdate.replaceall(data.data,"#template");
                }else{
                    tbody_date(ptimestart);
                    rdate.replaceall([],'#template');
                }
            });
        });
        $(document).on('click','.occupied',function(){
            var $this = $('.occupied[index='+$(this).attr('index')+']').eq(0);
            var left1 = $this.position().left+$this.width(),
                    left2 = $this.position().left-184;
            var left = left1+195>770||left1+195>$(window).width()?left2:left1;
            if (left1+195>770||left1+195>$(window).width()) {
                $('.popover.sales_date_edit').removeClass('right').addClass('left');
            }else{
                $('.popover.sales_date_edit').removeClass('left').addClass('right');
            };
            $('.popover.sales_date_edit').show().css({
                'left': left,
                'top': $this.position().top
            }).siblings('.popover').hide().end().find('input').eq(0).val($this.data('item').price).end().eq(1).val($this.data('item').quantity).end().end().find('input[type=radio]').each(function(index, el) {
                if($this.data('item').online){
                    if ($(this).val() == 'online') {
                        $(this).attr('checked','checked');
                        $(this).parents('.radio').addClass('selected').siblings('.radio').removeClass('selected');
                    }
                }
                if(!$this.data('item').online){
                    if ($(this).val() == 'offline') {
                        $(this).attr('checked','checked');
                        $(this).parents('.radio').addClass('selected').siblings('.radio').removeClass('selected');
                    }
                }
            });

            $('.popover.sales_date_edit').data('item',$this.data('item'));
        })
        $('.popover.sales_date_edit .popover-footer button:last').click(function(event) {
            $(this).parents('.popover').hide();
            $('.lock').removeClass('lock');
        });
        $('.popover.sales_date_add .popover-footer button:last').click(function(event) {
            $(this).parents('.popover').hide();
            $('.lock').removeClass('lock');
        });
        //修改
        $('.popover.sales_date_edit .popover-footer button:first').click(function(event) {
            var $this = $(this).parents('.popover');
            var dataold = $this.data('item');
            $this.data('item').price = $this.find('input').eq(0).val();
            $this.data('item').quantity = $this.find('input').eq(1).val();
            var edittime = new Date($this.data('item').day);
            $this.data('item').day = edittime.getFullYear() + '-' + (edittime.getMonth()+1) + '-' + edittime.getDate();
            $this.data('item').status = $this.find('input[type=radio]:checked').val();
            $this.data('item').inventoryTypeId = id;
            $this.data('item').inventoryType = 'product';

            $.ajax({
                url: '/sale/productPrice/edit',
                type: 'POST',
                dataType: 'json',
                data: $this.data('item'),
            })
                    .done(function(data){
                        if(data.code =='0'){
                            rdate.replace(dataold,data.data,'#template');
                            $.alertMsg.alert({
                                title : data.msg,
                                button : '关闭',
                                delay : 500,
                                type:'success'
                            })
                        }else{
                            $.alertMsg.alert({
                                title : data.msg,
                                detailed : data.detail,
                                button : '关闭',
                                delay : 500
                            })
                        }
                    });
            $this.hide().find('input[type=text]').each(function(){
                $(this).val('');
            })
        });
        // 删除
        $('.popover.sales_date_edit .popover-footer a').click(function(event) {
            event.preventDefault();
            var $this = $(this).parents('.popover');
            var edittime = new Date($this.data('item').day);
            $this.data('item').day = edittime.getFullYear() + '-' + (edittime.getMonth()+1) + '-' + edittime.getDate();
            $this.data('item').inventoryTypeId = id;
            $this.data('item').inventoryType = 'product';
            $.ajax({
                url: '/sale/productPrice/delete/'+ $this.data('item').inventoryTypeId+'/'+$this.data('item').id,
                type: 'POST',
                dataType: 'json'
            })
                    .done(function(data){
                        if(data.code =='0'){
                            rdate.del(data.data,'#template');
                            $.alertMsg.alert({
                                title : data.msg,
                                button : '关闭',
                                delay : 500,
                                type:'success'
                            })
                        }else{
                            $.alertMsg.alert({
                                title : data.msg,
                                detailed : data.detail,
                                button : '关闭',
                                delay : 500,
                            })
                        }
                    });
            $this.hide().find('input[type=text]').each(function(){
                $(this).val('');
            })
        });
        //添加
        $('.popover.sales_date_add .popover-footer button:first').click(function(event) {
            var data = {};
            var $this = $(this).parents('.popover');
            data.price = $this.find('input').eq(0).val();
            data.quantity = $this.find('input').eq(1).val();
            data.status = $this.find('input[type=radio]:checked').val();
            data.day = $('.dt').val().replace('.','-')+'-'+$this.data('date');
            data.inventoryTypeId = id;
            data.inventoryType = 'product';
            $.ajax({
                url: '/sale/productPrice/add',
                type: 'POST',
                dataType: 'json',
                data: data,
            })
                    .done(function(data){
                        if(data.code =='0'){
                            rdate.add(data.data,'#template');
                            $.alertMsg.alert({
                                title : data.msg,
                                button : '关闭',
                                delay : 500,
                                type:'success'
                            })
                        }else{
                            $.alertMsg.alert({
                                title : data.msg,
                                detailed : data.detail,
                                button : '关闭',
                                delay : 500
                            })
                            $('.lock').removeClass('lock');
                        }
                    }).error(function(){
                        $('.lock').removeClass('lock');
                    });
            $this.hide()
//            $this.hide().find('input[type=text]').each(function(){
//                $(this).val('');
//            })
        });
    });
</script>
</body>
</html>