<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      ng-app="passwordApp">
<head>
    <title>
        简途旅行核心管理系统
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/main.css}"/>
    <style>
        .header ul li {
            width: 50px;
        }
    </style>
</head>
<body>
<div class="header" th:include="fragments :: iframe_header"/>
<div class="iframe_content" ng-controller="passwordController">
    <h2>密码修改</h2>

    <form th:action="@{/password/modify}" name="form" novalidate="novalidate" method="POST">
        <div class="offset">
            <div class="input_group">
                <label>原密码</label>

                <div class="cutline"></div>
                <span>
                   <input type="password" dy-name="oldPwd"
                          class="stValidate" validate-len-min="6" validate-len-min-msg="不少于6位"
                          validate-len-max="64" validate-len-max-msg="不多于64位"
                          trigger="focus" ng-model="tempData.oldPassword"/>
                </span>
            </div>
            <div class="input_group">
                <label>密&nbsp;&nbsp;码</label>

                <div class="cutline"></div>
                <span>
                   <input type="password" dy-name="newPwd"
                          class="stValidate" validate-len-min="6" validate-len-min-msg="不少于6位"
                          validate-len-max="64" validate-len-max-msg="不多于64位"
                          trigger="focus" ng-model="tempData.newPassword"/>
                </span>
            </div>

            <div class="input_group">
                <label>确认密码</label>

                <div class="cutline"></div>
                <span>
                    <input type="password" dy-name="repeatNewPwd" class="stValidate" validate-repeat="tempData.newPassword"
                           validate-not-blank-msg="不能为空" validate-repeat-msg="两次密码必须一致" trigger="focus"
                           ng-model="tempData.repeatPassword"/>
                </span>
            </div>
        </div>
        <div>
            <button  type="button" th:attr="url=@{/password/modify}"
                     ng-click="submit($event)" class="red" style='margin:20px 10px 20px 675px'>修&nbsp;&nbsp;&nbsp;&nbsp;改
            </button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/lib/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/dropdown.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/kindeditor/kindeditor.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/resources.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zeroclipboard/ngClip.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zeroclipboard/ZeroClipboard.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/alertMsg.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/ngPlugin-unCompress.js}"></script>
<script type="text/javascript"  th:src="@{/static/lib/md5.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //    <![CDATA[
    var app = angular.module('passwordApp', ['ngPlugin']);
    app.controller('passwordController', ['$scope', '$http', 'ngSubmit', 'gpsLocation', 'alert', function ($scope, $http, ngSubmit) {
        var permission = [[${permission}]];
        if (permission == 'detail') {
            setTimeout(function () {
                $('input[type=text]').attr("readonly", true).unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
                $('input[type=password]').attr("readonly", true).unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
                $('select').attr('disabled', 'disabled').unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
                $('.input_group').find('ul').css('display', 'none').parent('div').css({display: 'none', opacity: 0});
            }, 0);
        }
        $scope.tempData = {
            oldPassword: '',
            newPassword: '',
            repeatPassword: ''
        };
        $scope.submit = function (event) {
            $scope.postData = {
                oldPassword: md5($scope.tempData.oldPassword),
                newPassword: md5($scope.tempData.newPassword)
            };
            ngSubmit({
                ele: event.target,
                data: $scope.postData,
                form: $scope.form,
                success: function (data) {
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                },
                error: function (data) {
                    $scope.errorTips = data.msg;
                }
            });
        };
    }]);
    //    ]]>
</script>
</body>
</html>
