<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="passwordApp">
<head>
    <title>
        简途旅行核心管理系统
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/main.css}"/>
    <style>
        .header ul li {
            width: 50px;
        }
    </style>
</head>
<body>
<div class="header" th:include="fragments :: iframe_header"/>
<div class="iframe_content" ng-controller="passwordController">
    <h2>密码修改</h2>

    <form th:action="@{/company/employee/password}" name="form" novalidate="novalidate" method="POST">
        <div class="offset">
            <div class="input_group">
                <label>原密码</label>

                <div class="cutline"></div>
                <span>
                   <input type="password" ng-focus="focus($event)" ng-blur="blur($event)" dy-name="oldPassword"
                          class="stValidate" validate-len-min="6" validate-len-min-msg="不少于6位"
                          validate-not-blank-msg="不能为空" trigger="focus" name="oldPassword" ng-model="postData.oldPassword"/>
                </span>
            </div>
            <div class="input_group">
                <label>密&nbsp;&nbsp;码</label>

                <div class="cutline"></div>
                <span>
                   <input type="password" ng-focus="focus($event)" ng-blur="blur($event)" dy-name="password"
                          class="stValidate" validate-len-min="6" validate-len-min-msg="不少于6位"
                          validate-not-blank-msg="不能为空" trigger="focus" name="password" ng-model="postData.password"/>
                </span>
            </div>

            <div class="input_group">
                <label>确认密码</label>

                <div class="cutline"></div>
                <span>
                    <input type="password" dy-name="repeatPassword" class="stValidate" name="repeatPassword" validate-repeat="postData.repeatPassword"
                           validate-not-blank-msg="不能为空" validate-repeat-msg="两次密码必须一致" trigger="focus"
                           ng-model="postData.repeatPassword"/>
                </span>
            </div>

            <input type="hidden" name="id" th:value="${viewForm.id}" ng-model="postData.id"/>
        </div>
        <div>
            <button  type="button" th:attr="url=@{/company/employee/password}"
                     ng-click="submit($event)" class="red" style='margin:20px 10px 20px 675px'>修&nbsp;&nbsp;&nbsp;&nbsp;改
            </button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/lib/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/dropdown.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/kindeditor/kindeditor.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/resources.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zeroclipboard/ngClip.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/zeroclipboard/ZeroClipboard.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/alertMsg.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/ngPlugin-unCompress.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //    <![CDATA[
    var app = angular.module('passwordApp', ['ngPlugin']);
    app.controller('passwordController', ['$scope', '$http', 'ngSubmit', 'stModal', 'gpsLocation', 'alert', function ($scope, $http, ngSubmit, stModal, gpsLocation, alert) {
//        var permission = [[${permission}]];
//        if (permission == 'detail') {
//            setTimeout(function () {
//                $('input[type=text]').attr("readonly", true).unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
//                $('input[type=password]').attr("readonly", true).unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
//                $('select').attr('disabled', 'disabled').unbind('focus').unbind('mouseenter').css('color', '#9b9b9b');
//                $('.input_group').find('ul').css('display', 'none').parent('div').css({display: 'none', opacity: 0});
//            }, 0);
//        }
        $scope.postData = {
            companyId: [[${viewForm.companyId}]] || '',
            roleId: [[${viewForm.roleId}]] || '',
            id: [[${viewForm.id}]]
        };
        var temp_password = '';//暂时保存password
        var temp_repeatPassword = '';//暂存确认密码字段
        $scope.focus = function ($event) {
            temp_repeatPassword = $scope.postData.repeatPassword;
            $scope.postData.repeatPassword = '';
            temp_password = $scope.postData.password;
            $scope.postData.password = '';
        };
        $scope.blur = function ($event) {
            if ($scope.postData.password == '') {
                $scope.postData.password = temp_password;
                $scope.postData.repeatPassword = temp_repeatPassword;
            }
        };
        $scope.submit = function (event) {
            ngSubmit({
                ele: event.target,
                data: {
                    id: [[${viewForm.id}]],
                    oldPassword: $scope.postData.oldPassword,
                    password: $scope.postData.password,
                    repeatPassword: $scope.postData.repeatPassword
                },
                form: $scope.form,
                success: function (data) {
                    setTimeout(function () {
//                        location.href = data.jumpUrl;
                        location.reload();
                    }, 3000);
                },
                error: function (data) {
                    $scope.errorTips = data.tip;
                }
            });
        };
    }]);
    //    ]]>
</script>
</body>
</html>
